%form{action: '/gold_book', method: 'post'}
  %label{for: 'message'} Laissez moi un message si vous le souhaitez
  %textarea#message{name: 'message', rows: 3}
  %label{for: 'name'} Votre nom
  %input#name{type: 'text', name: 'author'}
  %input{type: 'hidden', name: 'callback', value: request.path_info}
  %input.btn.btn-primary{type: 'submit', value: 'Envoyer'}
  %a{href: '/gold_book'} Voir ce que pense les autres
