%article
  %article#news
    %header
      %h1 Actualites
      %p
        %a{href: "http://eepurl.com/lMvTX"} Inscrivez vous pour être tenu courant de mes dernières actualités !
      %p
        Retrouvez-moi le samedi matin sur le marché de
        %a{:href => "http://g.co/maps/drccy", :target => "_blank"} Teyran(34)
        et le dimanche matin à
        = succeed "." do
          %a{:href => "http://g.co/maps/yu47h", :target => "_blank"} Jacou
      %p
        On parle de moi
        = succeed "." do
          %a{:href => "http://doriannn.blogspot.fr/2012/04/les-pralines-de-claire-ont-un-gout-de.html"} ici
  %article#home
    %header
      %h1 Accueil
      %p Bonjour chers visiteurs,
      %p
        Vous trouverez ici un large choix de confiseries fabriquées à base de graines oléagineuses et de sucre. J'utilise des arachides, des amandes et des noix de toute sorte. Contrairement à ceux du commerce, mes produits sont élaborés avec au moins 60% de graine. Quand vous croquez mes pralines, vous mangez du fruit, pas uniquement du sucre.
    %section
      .thumbnail
        %img{:src => "images/vitrine.jpg"}/
%aside
  %h3 Où l'on va prendre le temps d'une pause sucrée...
  %p
    Un goût immodéré pour les amandes.
    %br
    Un arrière-grand-père, Pierre, qui confectionnait déjà pour sa famille ce qu’il appelait des amandes sucrées ainsi que de la croquande.
    %br
    Pierrette, une amie de la famille, m’a enseigné son secret de fabrication des pralines il y a une quinzaine d'années.
    %br
    Et je suis tombée dans la marmite.
    %br
    Un bol d’amandes, un bol de sucre, un peu d’eau pure, du jus de coude, du savoir-faire et beaucoup d’amour.
    %br
    C’est ainsi que mes pralines ont vu le jour.
  Cela fait de nombreuses années que j’en offre autour de moi, pour toutes les occasions.
  Désormais, tout le monde aura enfin le plaisir de les déguster...
  = partial :gold_book
